:root {
  --second-font: 'Raleway', sans-serif;
  --main-bg-color: #e5e5e5;
  --main-dark-color: #9da4bd;
  --second-main-dark-color: #ffffff;
  --main-light-color: #303030;
  --second-main-light-color: #555555;
  --accent-color: #ff6c00;
  --par-title-color: rgba(157, 164, 189, 0.6);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  background-color: var(--main-bg-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*---------header---elements------------*/

.header-page {
}
.main-header {
}
.container {
}
.navigation {
  display: flex;
}
.logo {
  margin-right: 200px;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item + .navigation-item {
  margin-left: 30px;
}

.navigation-item {
}

.navigation-item-link {
  color: var(--second-main-dark-color);
  font-size: 12px;
  letter-spacing: 1.2px;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  color: var(--second-main-dark-color);
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header-btn {
}
.dark-btn {
  color: var(--second-main-dark-color);
}
.btn {
  font-size: 12px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;
}

.btn:hover,
.btn:focus {
  color: var(--second-main-dark-color);
  background-color: var(--accent-color);
}

/*---------------HERO------------------*/

.hero {
}
.container {
}
.left-side-hero {
}
.list {
}
.social-list {
}
.social-list-item {
}
.social-link {
}
.link {
}
.right-side-hero {
}
.sup-hero-text {
}
.hero-title {
}
.hero-text {
}
.hero-direction {
}
.hero-direction-back {
}
.hero-direction-for {
}

/*----------------ABOUT-------------------------*/

.about {
}
.container {
}
.about-list {
}
.list {
}
.about-item {
}
.about-img {
}
.sup-about-text {
}
.about-title {
}
.about-text {
}
.about-text-description {
}
.about-btn {
}
.light-btn {
}
.btn {
}
