:root {
  --second-font: 'Raleway', sans-serif;
  --main-dark-color: #9da4bd;
  --second-main-dark-color: #ffffff;
  --main-light-color: #303030;
  --second-main-light-color: #555555;
  --accent-color: #ff6c00;
  --par-title-color: rgba(157, 164, 189, 0.6);
  --item-color: #f7f7f7;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  background-color: var(--second-main-dark-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*---------header---elements------------*/

.header-page {
  padding-top: 38px;
  padding-bottom: 38px;
  background-color: gray;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #ff6c00 1px solid;
}

.header-navigation {
  display: flex;
}
.logo {
  margin-right: 200px;
}
.navigation-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-item {
}

.navigation-item-link {
  color: var(--second-main-dark-color);
  font-size: 12px;
  letter-spacing: 1.2px;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  color: var(--second-main-dark-color);
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: auto;
}

.header-btn {
  margin-left: 43px;
  background-color: transparent;
}
.dark-btn {
  color: var(--second-main-dark-color);
}
.btn {
  font-size: 12px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  min-width: 160px;
  height: 36px;
  padding: 11px 20px;
}

.btn:hover,
.btn:focus {
  color: var(--second-main-dark-color);
  background-color: var(--accent-color);
}

/*---------------HERO------------------*/

.hero {
}

.two-sides-hero {
  border: #ff6c00 1px solid;
  display: flex;
}

.left-side-hero {
}

.social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero .social-list {
  width: 100px;
}

.social-list-item {
}

.social-link {
  color: var(--main-light-color);
  letter-spacing: 2.2px;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.right-side-hero {
  /* background-image: url('../images/herobgrd.jpg');
  background-size: cover;*/
  background-color: blue;
  flex-grow: 1;
}

.right-side-text {
  max-width: 360px;
  width: 100%;
  padding: 307px 100px 288px;
}

.sup-hero-text {
  color: var(--par-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-title {
  color: var(--second-main-dark-color);
  font-size: 72px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}

.hero-text {
  color: var(--main-dark-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

.hero-direction {
  display: flex;
  gap: 64px;
  justify-content: end;
}

.hero-direction-item {
}

.hero-direction-back {
  color: var(--par-title-color);
  letter-spacing: 1.1px;
}
.hero-direction-for {
  color: var(--second-main-dark-color);
  text-align: right;
  letter-spacing: 1.1px;
  margin-right: 20px;
}

/*----------------ABOUT-------------------------*/

.about {
}

.about-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-item {
}
.about-img {
}

.sup-about-text {
  color: var(--main-light-color);
  text-transform: uppercase;
}

.about-title {
  color: var(--main-light-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.about-text {
  color: var(--second-main-light-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

.about-text-description {
  color: var(--second-main-light-color);
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.28px;
}
.about-btn {
}
.light-btn {
  color: var(--main-light-color);
  background-color: var(--second-main-dark-color);
}

/*------------------Services and prices---------------------*/
.services {
  background-image: url('../images/servicesbgr.jpg');
  background-size: cover;
}

.sup-services-text {
  color: var(--par-title-color);
  text-transform: uppercase;
}

.services-title {
  color: var(--second-main-dark-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.services-table {
}

.services-table-row {
}
.services-table-name {
  color: var(--main-dark-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}
.services-table-price {
  color: var(--main-dark-color);
  text-align: right;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

.services-btn {
}

/*-----------------BENEFITS--------------------*/
.benefits {
}

.benefits-list {
  display: flex;
  align-items: center;
}

.benefits-item {
  background-color: var(--item-color);
  padding: 20px 24px;
}

.benefits-item-quantity {
  color: var(--main-light-color);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}

.benefits-item-description {
  color: var(--main-light-color);
  text-align: center;
}

.sup-benefits-text {
  color: var(--main-light-color);
  text-transform: uppercase;
}

.benefits-title {
  color: var(--main-light-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.benefits-text {
  color: var(--second-main-light-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

/*------------EMPLOYEES-------------*/

.barbers {
  background-color: var(--item-color);
}

.sup-barbers-text {
  color: var(--main-light-color);
  text-transform: uppercase;
}

.barbers-title {
  color: var(--main-light-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.barbers-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.barbers-item {
}

.barbers-name {
  color: var(--main-light-color);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.36px;
}

.barbers-vacancy {
  color: var(--accent-color);
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.28px;
}

.barbers-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
}

.social-list-icon {
}

.barbers-social-item {
  background-color: var(--second-main-dark-color);
  padding: 12px;
  border-radius: 50%;
  border: 1px;
}

.barbers-social-item:hover,
.barbers-social-item:focus {
  fill: var(--accent-color);
}

/*---------------------GALLERY------------------------*/

.gallery {
}

.sup-gallery-text {
  color: var(--main-light-color);
  text-transform: uppercase;
}

.gallery-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.gallery-item {
}

.gallery-item-img {
}

/*--------CONTACT INFORMATION-------------*/

.contact-form-section {
  background-image: url('../images/footerbgr.jpg');
  background-size: cover;
}

.contact-form-title {
  color: var(--second-main-dark-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.contact-info-title {
  color: var(--second-main-dark-color);
  font-size: 42px;
  font-family: var(--second-font);
  font-weight: 700;
  letter-spacing: 2.1px;
}

.contact-info-list {
}

.contact-info-item {
}

.contact-info-link {
  color: var(--main-dark-color);
  font-size: 18px;
  font-weight: 700;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
  font-style: normal;
}

.contact-info-text {
  color: var(--second-main-dark-color);
  text-transform: uppercase;
}

.contact-info-date {
  color: var(--main-dark-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

/*----------------FOOTER--------------------------*/

.footer {
  background-color: var(--item-color);
}

.copyright {
  color: var(--main-dark-color);
  letter-spacing: 2.2px;
}
